* {
    margin: 0;
    height: 80%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    
}

.nav-bar {
    background-color: white;
    padding: 20px;
    height: 10%;
}

#header-img {
    width: 350px;
    height: 150px;
    float: left;
}

ul {
    padding: 10px;
    margin: 10px;
    text-align: right;
}
ul li {
    position: static;
    display: inline-block;
}

.nav-link {
    text-decoration: none;;
    color: black;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

#video-div {
    margin-top: -32%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


#page-title {
    margin-top: -28.5%;
    text-align: center;
    background-color: cyan;
    padding: -15%;
}

h1 {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30%;
}

#form-div {
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#form {
    margin-top: -20%;
}

.form-input {
    margin-top: -30%;
}
